*{
    margin: 0;
}
header{
    height: 120px;
    background-color: rgb(3, 10, 58);
    color: aliceblue;
    text-align: center;
}
.menu{
    height: 90px;
    background-color: rgb(7, 17, 95);
    color: aliceblue;
    text-align: center;
}
.feature{
    overflow: hidden;
}
.left{
    height: 500px;
    width: 70%;
    background-color: rgb(13, 33, 183);
    float: left;
}
.right{
    height: 500px;
    width: 30%;
    background-color: rgb(92, 103, 176);
    color: aliceblue;
    text-align: center;
    float: right;
}
.feature_heading{
    height: 60px;
    background-color: rgb(79, 92, 180);
    color: aliceblue;
    text-align: center;
}
.article{
    height: 440px;
    background-color: rgb(119, 135, 239);
    color: aliceblue;
    text-align: center;
}
footer{
    height: 60px;
    background-color: rgb(3, 10, 58);
    color: aliceblue;
    text-align: center;
}